# track branch coverage
# define the codebase that should be measures

[run]
branch = True
source =
    algorithms
    data_structures
    routes

# print the actual untested line numbers

[report]
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError

# Don’t count tests or virtual env
omit =
    tests/*
    .venv/*
    */__init__.py  # (optional)

[html]
directory = htmlcov
